AddDefaultCharset utf-8
php_flag magic_quotes_gpc off
Redirect 301 /sob.html http://risunochki.ru/view_article.php?id=42
Redirect 301 /ry.html http://risunochki.ru/view_article.php?id=40
Redirect 301 /ber.html http://risunochki.ru/view_article.php?id=22
Redirect 301 /sharap.php http://risunochki.ru/view_article.php?id=56
Redirect 301 /step.html http://risunochki.ru/view_article.php?id=43
Redirect 301 /spisok.html http://risunochki.ru/lessons.php
Redirect 301 /ind.html http://risunochki.ru/view_article.php?id=28
Redirect 301 /kosh.html http://risunochki.ru/view_article.php?id=29
Redirect 301 /zai.php http://risunochki.ru/view_article.php?id=63
Redirect 301 /strahi.php http://risunochki.ru/view_article.php?id=57
Redirect 301 /monstr1.php http://risunochki.ru/view_article.php?id=52
Redirect 301 /material.html http://risunochki.ru/view_article.php?id=31
Redirect 301 /el.html http://risunochki.ru/view_article.php?id=24
Redirect 301 /timon.php http://risunochki.ru/view_article.php?id=60
Redirect 301 /geom.html http://risunochki.ru/view_article.php?id=21
Redirect 301 /glaz.html http://risunochki.ru/view_article.php?id=25
Redirect 301 /parus.html http://risunochki.ru/view_article.php?id=35
Redirect 301 /parusn.html http://risunochki.ru/view_article.php?id=36
Redirect 301 /ric.html http://risunochki.ru/view_article.php?id=37
Redirect 301 /gub.html http://risunochki.ru/view_article.php?id=27
Redirect 301 /samolet.php http://risunochki.ru/view_article.php?id=54
Redirect 301 /manek.html http://risunochki.ru/view_article.php?id=30
Redirect 301 /nar.html http://risunochki.ru/view_article.php?id=32
Redirect 301 /minon.php http://risunochki.ru/view_article.php?id=51
Redirect 301 /sumerki.php http://risunochki.ru/view_article.php?id=58
Redirect 301 /rr.html http://risunochki.ru/view_article.php?id=39
Redirect 301 /tunez.html http://risunochki.ru/view_article.php?id=45
Redirect 301 /tank.php http://risunochki.ru/view_article.php?id=59
Redirect 301 /velo.html http://risunochki.ru/view_article.php?id=46
Redirect 301 /vaza.php http://risunochki.ru/view_article.php?id=61
Redirect 301 /gol.html http://risunochki.ru/view_article.php?id=26
Redirect 301 /school.php http://risunochki.ru/view_article.php?id=55
Redirect 301 /no.html http://risunochki.ru/view_article.php?id=33
Redirect 301 /om.html http://risunochki.ru/view_article.php?id=34
Redirect 301 /boxer.php http://risunochki.ru/view_article.php?id=47
Redirect 301 /kak_drakon.php http://risunochki.ru/view_article.php?id=49
Redirect 301 /rosa.html http://risunochki.ru/view_article.php?id=38
Redirect 301 /volk.php http://risunochki.ru/view_article.php?id=62
Redirect 301 /jakob.php http://risunochki.ru/view_article.php?id=1
Redirect 301 /tul.html http://risunochki.ru/view_article.php?id=44
Redirect 301 /domik.html http://risunochki.ru/view_article.php?id=23
Redirect 301 /slon.html http://risunochki.ru/view_article.php?id=41
Redirect 301 /ind.php http://risunochki.ru/view_article.php?id=28
Redirect 301 /flaund.php http://risunochki.ru/view_article.php?id=48
Redirect 301 /rusal.php http://risunochki.ru/view_article.php?id=53
Redirect 301 /ch.html http://risunochki.ru/view_article.php?id=20
Redirect 301 /losh.php http://risunochki.ru/view_article.php?id=50
